<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top">
  <div class="container">
    <!-- Logo -->

    <a class="navbar-brand fw-bold" href="{{ items[0].href }}">{{ items[0].text }}</a>

    <!-- Menu --->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        @for (item of items; track $index) { @if (item.type === 'link') {

        <li class="nav-item">
          <a class="nav-link" href="#news">News</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us">About us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        } }
      </ul>

      <!-- Register Button -->

      <a href="{{ items.at(-1)?.href }}" class="btn btn-primary ms-lg-3">
        {{ items.at(-1)?.text }}
      </a>
    </div>
  </div>
</nav>
