@if (catalog(); as catalog) {
<div class="home-wrapper">
  <main class="home-page">
    <app-hero [hero]="catalog.hero"></app-hero>
    <app-tech [technologies]="catalog.technologies"></app-tech>
    <app-teacher [teachers]="catalog.teachers"></app-teacher>
    <app-course-topic [topic]="catalog.courseTopic"></app-course-topic>
    <app-learning-space [learningSpace]="catalog.learningSpace"></app-learning-space>
    <app-news [news]="catalog.news"></app-news>
    <app-course-formats [config]="catalog.courseFormats"></app-course-formats>
    <app-price-offers [config]="catalog.priceOffers"></app-price-offers>
    <app-main-links [links]="catalog.mainWebsiteLinks"></app-main-links>
  </main>
</div>
}